<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Customer Management API</h2>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
  </tr>
  <tr th:each="customer : ${customers}">
    <td th:text="${customer.id}">1</td>
    <td><a href="#" th:text="${customer.name}">John</a></td>
</tr>
</table>

</body>
</html>

<a href="">Add Customer</a>
<a href="">Delete Customer</a>
<a href="">Edit Customer</a>