<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Customer Management API</h2>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
  </tr>
  <tr th:each="customer : ${customers}">
    <td th:text="${customer.id}">1</td>
    <td th:text="${customer.name}">John</td>
    <td th:text="${customer.total_sales}">0.0</td>
    <td th:text="${customer.balance_due}">0.0</td>
    <td><a th:href="@{/web/customers/edit/{id}(id=${customer.id})}" >Edit</a></td>
    <td><a th:href="@{/web/customers/delete/{id}(id=${customer.id})}" >Delete</a></td>
    <td><a th:href="@{/web/customers/purchase/{id}(id=${customer.id})}" >Purchase</a></td>
    <td><a th:href="@{/web/customers/payment/{id}(id=${customer.id})}" >Payment</a></td>
</tr>
</table>

</body>
</html>

<a href="/web/customers/create">Add Customer</a>
